body {
    background: gainsboro;
}

/* Aquí se trabaja el header */

.logo {
    margin: 10px;
    margin-bottom: 0;
}


/* Menú principal, inicio y anexo */

#inicio-juego {
    margin: 100px auto;
    width: 30%;
    height: 200px;
    text-align: center;
}

.iniciar {
    width: 80%;
    height: 50px;
    color: gainsboro;
    background: darkblue;
    font-size: 27px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    border: none;
    margin-top: 15%;
    cursor: pointer;
}

.iniciar:hover {
    box-shadow: 3px 3px 8px black;
    transition: 400ms;
    margin-top: 10%;
    width: 85%;
}

.anexar {
    width: 65%;
    height: 50px;
    color: darkblue;
    background: rgba(0, 0, 139, 0.205);
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

.anexar:hover {
    box-shadow: 2px 2px 5px black;
    transition: 400ms;
    margin-top: 8%;
    width: 70%;
}

/* Añadir nueva palabra */

#input-palabra {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

#input-palabra i {
    color: #333;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.textarea {
    width: 80%;
    height: 300px;
    background: gainsboro;
    border: none;
    outline: none;
    color: darkblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    margin: 10px 0;
}

.textarea::placeholder {
    color: darkblue;
}

#agregar {
    text-align: center;
    margin-top: 0.5%
}

.nueva-palabra {
    width: 35%;
    height: 45px;
    color: gainsboro;
    background: darkblue;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 3%;
}

.nueva-palabra:hover {
    box-shadow: 3px 3px 8px black;
    transition: 400ms;
    height: 48px;
}

.cancelar {
    width: 30%;
    height: 45px;
    color: darkblue;
    background: rgba(0, 0, 139, 0.205);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 3%;
}

.cancelar:hover {
    box-shadow: 3px 3px 8px black;
    transition: 400ms;
    height: 48px;
}



/* Aquí veremos el footer con la informacion del desarrollador */

.rodapie {
    text-align: center;
    background: linear-gradient(#cfcfcf 40%, #888);
    margin-top: 25px;
}

.rodapie img {
    border: 3px solid rgba(2, 2, 61, 0.753);
    border-radius: 65px;
    width: 95px;
    height: 90px;
    margin: 15px 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 139, 0.349);
}

.rodapie h3 {
    padding-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 139, 0.918);
    text-shadow: 0 0 20px rgba(21, 21, 22, 0.795);
}

.rodapie i {
    font-size: 35px;
    margin: 10px 5px;
    color:darkblue;
    cursor: pointer;

}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: rgba(0, 0, 139, 0.856);
}

.rodapie p {
    padding: 7px 0;
    color: darkblue;
}